<!DOCTYPE html>
<html ng-app="artikler">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="angularjs/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body class="container" ng-controller="ExpressionController">
    <div class="product row" ng-repeat="expressionset in expressions">
      <h3>
        {{expressionset.expression}}
      </h3>
      <table>
        <tr>
          <td ng-repeat="candidate in expressionset.candidates">
            <button ng-click="clickMe([expressionset.matches, candidate])">{{candidate}}</button>
          </td>
        </tr>
      </table>
    </div>
    <h2 ng-show="ok">Richtig</h2>
    <h2 ng-hide="ok">Falsch</h2>
  </body>
</html>
